
.red {
    color: red;
    font-weight: bold;
    
}

div{
    padding: 5px;
    
}



#first{
    width: 200px;
    height: 200px;
    background-color: beige;
    color: coral;
    text-align: center;
    border: solid 22px;
    position: absolute;
    margin: 50px;
    
}

#second{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color: rosybrown;
    text-align: center;
    border: solid 22px;
    position: absolute;
    margin: 50px;
    top: 200px;
    
}

